
.navbar1{
    width: 100%;
    background-color: rgba(26, 13, 4, 0.822);
    margin: 0px;
    padding: 0px;
}
.menu1{
    margin:0px;
    display: flex;
    align-content: center;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
/* .donar:hover{
color: white ;
} */
.btn-outline-primary {
    color: white;
    border: none;
}
.btn-outline-primary:hover{
    color: white;
    background-color: darkorange; 
    border-color: darkorange;  
}

li{
    color: white;
}

.fa-user{
    color:white;
}
.logo1{
    height: 2rem;
}
